{% assign tiles = '' | split: '' %}
{% if site.tiles-source contains 'posts' %}
    {% assign tiles = tiles | concat: site.posts %}
{% endif %}
{% if site.tiles-source contains 'pages' %}
    {% assign tiles = tiles | concat: site.html_pages | where_exp: "item", "item.show_tile != false" %}
{% endif %}
{% for collection in site.collections %}
    {% if site.tiles-source contains collection.label %}
        {% assign tiles = tiles | concat: site[collection.label] | where_exp: "item", "item.show_tile != false" %}
    {% endif %}
{% endfor %}
<section id="one" class="tiles">
  {% for tile in tiles limit:site.tiles-count %}
  <article>
    <span class="image">
      <img src="{{ tile.image }}" alt="{{ tile.title }}" />
    </span>
    <header class="major">
      <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
      <p>{{ tile.description }}</p>
    </header>
  </article>
  {% endfor %}
</section>
